* {
    padding: 0;
    margin: 0;
    font-family: 'Kantumruy Pro', sans-serif;
}
.my-nav {
    background: rgba(255, 255, 255, 0.15);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.075);
}
.my-header > span > a,
.my-header > div > a > a {
    text-decoration: none;
}

.my-footer {
    margin-top: 50px;
    background: whitesmoke;
}

/* Loading */
.spinner {
    width: 11.2px;
    height: 11.2px;
    margin: 40vh auto;
    border-radius: 11.2px;
    box-shadow:
        28px 0px 0 0 rgba(71, 75, 255, 0.2),
        22.7px 16.5px 0 0 rgba(71, 75, 255, 0.4),
        8.68px 26.6px 0 0 rgba(71, 75, 255, 0.6),
        -8.68px 26.6px 0 0 rgba(71, 75, 255, 0.8),
        -22.7px 16.5px 0 0 #474bff;
    animation: spinner-b87k6z 1s infinite linear;
}

/* Card content */
.my-cardcontent{
    margin-top: 50px;
}
.my-col{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.my-col > img{
    width: 400px;
}

@keyframes spinner-b87k6z {
    to {
        transform: rotate(360deg);
    }
}
